body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

.centered {
	text-align: center;
}

.sidebar {
	border-right: 2px solid #ddd;
}

.draggable {
	position: relative;
}
