extends layout

block content
	.content
		.row
			h1= Documents
			for doc in docs
				.span3
					img(src="/docs/thumbs/#{doc.entity_id}")
					p
						b.centered= doc.title

block extracss

block extrajs
